/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
	
	-fx-background-radius: 0;
	-fx-border-color: rgb(142,142,142);
	-fx-border-style: solid;
	-fx-border-width: 1 0 0 1;
	
}

.top-buttons{
	-fx-background-color: rgb(214,214,214);
	-fx-text-fill: rgb(0,0,0);
}

.right-buttons{
	-fx-background-color: rgb(245,146,62); 
	-fx-text-fill: rgb(255,255,255);
}

.other-buttons{
	-fx-text-fill: rgb(0,0,0);
	-fx-background-color: rgb(224,224,224);  
}

#result{
	-fx-text-fill: white;
}

#result-area{
	-fx-background-color: #777;
}

#full-box{
	/*-fx-background-radius: 100;*/
	/*-fx-background-color: rgb(0,0,0,.3);*/
}

